{
  'id': "postgres-{{ (inventory_hostname.split('.')[0]) }}",
  'name': 'postgres',
  'port': 5432,
  'check': {
    'name': 'Postgres port check',
    'tcp': "{{ inventory_hostname }}:5432",
    'interval': '10s',
    'timeout': '2s',
  },
}

