---

# Consul will be started in a podman container. 
# Starting and stopping the container will be managed by systemd.
# sudo systemctl start/stop/status container-consul.service

# To upgrade Consul run with -e serial=1

- hosts: cluster
  become: yes
  serial: "{{ serial | default(4) }}"
  
  vars:
    image: 'docker.io/library/consul'
    version: '1.11.4'
    data_center: 'homelab'
    alt_domain: 'lan'
    
    server_cmd: "agent -bootstrap-expect=3"
    client_cmd: 'agent'

  tasks:
    - name: Check if Consul is running
      command: podman exec consul consul version
      register: consul_running
      ignore_errors: yes
  
    - name: Stop and teardown Consul if running
      import_tasks: teardown.yml
      when: consul_running is success
      
    - name: Create Consul Container
      containers.podman.podman_container:
        name: consul
        state: created
        image: "{{ image }}:{{ version }}"
        network: host
        detach: yes
        env:
          CONSUL_LOCAL_CONFIG: "{{ lookup('template', 'templates/config.json.j2', convert_data=True) | to_json }}"
        command: "{{ server_cmd if (hostvars[inventory_hostname].consul_role == 'server') else client_cmd }}"
        generate_systemd:
          time: 60
          path: "/etc/systemd/system/"
          
    - name: Enable and start Consul systemd service
      service:
        name: container-consul
        enabled: yes
        state: started
        
    - name: Wait for Consul to start
      wait_for:
        port: 8500
        state: started

